body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    max-width: 500px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.chatbox{
    position:relative;
    height:500px;
    width:auto;
    margin:auto; 
    overflow-y:auto; 
}

.chatbox::-webkit-scrollbar{
    width:.5em; 
}

.chatbox::-webkit-scrollbar-thumb{
    background-color:#aaa; 
    border-radius:.5em; 
}

.chatbox::-webkit-scrollbar-track{
    background-color:#fff; 
}

.chatbox::-webkit-scrollbar-corner{
    background-color:#fff; 
}

.chatbox::-webkit-scrollbar-button{
    display:none; 
}

.chatbox::-webkit-scrollbar-resizer{
    display:none; 
}

.chatbox::-moz-scrollbar{
    width:.5em; 
}

.chatbox::-moz-scrollbar-thumb{
    background-color:#aaa; 
    border-radius:.5em; 
}

.chatbox::-moz-scrollbar-track{
    background-color:#fff; 
}

.chatbox::-moz-scrollbar-corner{
    background-color:#fff; 
}

.chatbox::-moz-scrollbar-button{
    display:none; 
}